<table class="tasks">
	<thead>
		<tr>
			<th>#</th>
			<th>Task</th>
			<th>Estimate</th>
		</tr>
	<thead>
	<tbody ui-sortable ="{axis:'y', stop: sortStopped}" ng-model="tasks">
		<tr class="task" ng-repeat="task in tasks" ng-controller="TaskCtrl">
			<td>#{{task.sortorder}}</td>
			<td><input ng-model="task.title" /></td>
			<td><input ng-model="task.estimate" class="input-small" /></td>
		</tr>
	</tbody>
</table>


Total estimated: {{ sum() }} hours <br />
<a class="btn" ng-click="addTask()">Add task</a>

<burndown-chart ng-model="chartData" style="width: 640px; height:400px"/>