html {
	@include background(
		radial-gradient(black 15%, transparent 16%) 0 0,
		radial-gradient(black 15%, transparent 16%) 8px 8px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px);
	background-color: #282828;
	background-size: 16px 16px;
	margin: 0;
	height: 100%;
}

body {
	background-color: transparent;
	@include background-image(radial-gradient(center, ellipse,  rgba(0,0,0,0) 30%, rgba(0,0,0,0.4) 100%));
	background-attachment: fixed;
	min-height: 100%;
}
.page {
	width: 960px;
	min-height: 400px;
	background: white;
	margin: 0 auto;
	padding: 20px 30px;
	border-radius: 6px;

}
.logo {
	background: image-url('logo.png') no-repeat;
	color: transparent;
	width: 220px;
	height: 52px;
	margin: 5px auto 2px auto;
}